<nav class="navbar navbar-dark navbar-expand-lg border-bottom border-2 border-secondary">
  <div class="container-fluid">
    <%= link_to "Portafolio", "#", class: "navbar-brand" %>
    <%= button_tag type: :button,
        class: "navbar-toggler",
        data: {bs_toggle: "collapse", bs_target: "#navbar"} do %>
          <%= tag.span class: "navbar-toggler-icon" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <%= link_to "Home", root_path, class: "nav-link" %>
        <%= link_to "Proyectos", projects_path, class: "nav-link" %>
        <%= link_to "Contacto", contact_path, class: "nav-link" %>
      </div>
    </div>
  </div>
</nav>